# Ignore virtual environments
venv/
myenv/

# Ignore enviroments
.env

# Ignore the input and output file
input.txt
output.txt

# Ignore other common files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3